NEXT_PUBLIC_GENLAYER_CHAIN_ID=61999
NEXT_PUBLIC_GENLAYER_RPC=https://studio.genlayer.com/api
NEXT_PUBLIC_GENLAYER_EXPLORER=https://explorer-studio.genlayer.com
NEXT_PUBLIC_REGULATORY_SCOPE=0xC6b1e8beF3501E8b2439968D4f6FB6d3b0176003
NEXT_PUBLIC_REGULATED_ESCROW=0x7F8aec2fd9665D3f37482540001F4e43E8C8524E
